<div class="container">
    <h1>FAQ - Preguntas frecuentes</h1>
        <p>A continuación las preguntas más frecuentes realizadas por los clientes y sus correspondientes respuestas.</p>
    <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="¿Qué métodos de pago están disponibles?">
          <ng-template ngbPanelContent>
            Los pagos se realizan mediante tarjeta de crédito.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>Porque estas tan bueno</b> &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Los medicos han dicho que es porque tengo personalidad coqueta.😘
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
</div>